*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #7f8591, #775181);
    padding: 10px;
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #5f575762;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #c7cdda86;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #c7cdda86;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border:none;
    outline: none;
    padding: 16px 50px;
    background-color: #808a91d2;
    color: #666363;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}